
.page-header {
  text-align: center;
  height:100vh;

  .header-content {
    height: 100%;
    display: flex;

    padding-top: 10rem;

    flex-direction: column;

    .project-name {
      font-family: 'Source Code Pro', monospace;
    }

    .project-tagline {
      font-family: 'Quicksand', monospace;
    }

  }
}

.scroll {
  margin-top: auto;

  div {
    display: inline-block;
    vertical-align: middle;
  }

  a {
    display: inline-block;
    border-radius: 50%;
  }

  a:hover .down, {
    border: 0.35em solid #e74c3c;
  }

  a:hover .down:after {
    border-top: 0.3em solid #e74c3c;
    border-right: 0.3em solid #e74c3c;
  }

  .down {
    display: inline-block;
    width: 4em;
    height: 4em;
    border: 0.35em solid #FFF;
    border-radius: 50%;
    margin-left: 0.75em;
  }

  .down:after {
    content: '';
  	display: inline-block;
    margin-top: 0.45em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.3em solid #FFF;
    border-right: 0.3em solid #FFF;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}

a[ id= "scroll-to-content" ]:target ~ #main-content {
    -webkit-transform: translateY( 0px);
    transform: translateY( 0px );
}

.main-content {
  min-height:100vh;
}
